/* importacion de otros archivos css al principal
@import url(); */

.body{
    margin: 0;
    height: 100vh;
    background: #5a5af1;
    overflow-y: hidden;
    font-family: 'Poppins', sans-serif; 
}


.body-container{
    padding: 1.25rem;
    display: grid;
    gap: 1.25rem;
    min-height: 100%; 
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-template-columns: 1fr;
    grid-template-rows: minmax(70px,auto) 1fr minmax(70px,auto);
    /* grid-template-columns: min-content 1fr 1fr;
    grid-template-rows:60px 1fr 1fr; */
}
/*Header*/
.header{
/* padding: 0 1.5rem; */
grid-area: header;
padding: 0 1rem;
border: 0.25rem solid black;
}
.header-container{
    max-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__logo{
    margin: 0;
    display: flex;
    gap:0.5rem;
    align-items: center;
}

.header__logo-img{
font-size: 20px;
}

.header__logo-title{
    margin: 0;
    font-size: 20px;
}
.header-nav__menu-list{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;

}
.header-nav__menu-item{
padding: 1rem;
}

.header-nav__menu-link{
    text-decoration: none;
    color: rgb(191, 255, 0);
}
/*main*/
.main{
grid-area:main;
}

.main__form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: bisque;
    gap: 1rem;
}
/*select */
.main__form-group-select{
    max-width: 900px;
    min-width: 500px;
    display: flex;
    gap: 0.5rem;
}

.main__form-label{
/* align-self: center; */
}

.main__form-select-document-type{
    border: 0;
}
/*input*/
.main__form-group-input{
    max-width: 900px;
    min-width: 500px;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.main__form-text{
    padding: 0;
    border: 0;
    min-width: 200px;
}

/*textarea*/

.main__form-group-text-area{
    max-width: 900px;
    min-width: 500px;
    display: flex;
    gap: 1rem;
}

.main__form-text-area{
    min-width: 278px;
    padding: 0;
    border: 0;
}

/*button*/
.main__form-group-button{
    width: 900px;
    padding: 0;
    border: 0;
    
}





/* .main__form-text{
    align-self: center;
    min-width: 200px;
} */



/* .main__form-select-document-type{
    align-self: center;
} */


/*Footer*/
.footer{
grid-area:footer;
}



/* .header-container{
    display: flex;
    justify-content: space-between;
    background-color: bisque;
width: 100%;
min-width: 900px;
}


.header__logo{
    margin: 0;
    display: flex;
    gap: 1rem;
    padding: 1rem;
}

.header__logo-title{
    margin: 0;
}

.header-nav{
}
.header-nav__menu-list{
    padding-left: 0;
    margin: 0;
    display: flex;
    gap: 1rem;
}

.header-nav__menu-item{
    list-style: none;
    padding: 1.3rem;
    
}

.header-nav__menu-link{
    text-decoration: none;
    color: rgb(51, 158, 114);
} */


/* @media (min-width: 600px) {
    
  } */