/* importacion de otros archivos css al principal
@import url(); */
:root {
    --primary-color: #aeb0c6;
    --font-color: #000000;
}

.body {
    margin: 0;
    height: 100vh;
    background: var(--primary-color);
    /* overflow: hidden; */
    font-family: 'Poppins', sans-serif;
    color: var(--font-color);
}


.body-container {
    /* padding: 1.25rem; */
    display: grid;
    gap: 1rem;
    min-height: 100%;
    grid-template-areas: "header"
        "main"
        "footer";
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    grid-template-rows: minmax(70px, auto) 1fr minmax(70px, auto);
    /* grid-template-columns: min-content 1fr 1fr;
    grid-template-rows:60px 1fr 1fr; */
}

/*Header*/
.header {
    /* padding: 0 1.5rem; */
    grid-area: header;
    border: 0.2rem solid black;
    width: 98%;
    margin: 0 auto;
}

.header-container {
    min-height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* overflow: hidden; */
    max-width: 100%;
    gap: 0.5rem;
}

.header__logo {
    margin: 0;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.header__logo-img {
    font-size: 20px;
}

.header__logo-title {
    margin: 0;
    font-size: 20px;
}

/* .header-nav{
    display: flex;
    flex-wrap: wrap;
} */
.header-nav__menu-list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    height: 100%;
    flex-wrap: wrap;
}

.header-nav__menu-item {
    padding: 0.5rem;
}


.main {
    grid-area: main;
    width: 100%;
}

.main-container {
    width: 98%;
    margin: 0 auto;
    border: 0.2rem solid black;
}

/* width: 90%; */
.main__form {
    display: flex;
    background-color: #edeef6;
    gap: 0.8rem;
    flex-wrap: wrap;
    width: 100%;
    /* margin: 1rem auto; */
    justify-content: center;
}


.main__form-group-select {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    gap: 0.8rem;
}

.main__form-label {
    font-size: 18px;
    align-self: center;
}


.main__form-select-document-type {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;

}

.main__form-group-input-text {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    gap: 0.8rem;
}

.main__form-text {
    border: 0;
    padding: 0;
    width: 70%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}


.main__form-group-text-area {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    gap: 0.8rem;
}

.main__form-text-area {
    margin: 0;
    border: 0;
    padding: 0;
    border: 0;
    width: 70%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
    /* resize: vertical; */
    resize: none;
    min-height: 100px;
    max-height: 300px;
}


.main__form-group-button {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    gap: 0.8rem;
}

.main__form-button {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}

/* .main__form-group-input-file-container {
    align-self: center;
}
*/
.main__form-group-input-file {
    display: flex;
    justify-content: center;
    padding: 1rem;
    width: 90%;
    flex-direction: column;
    gap: 0.8rem;
}
.main__form-file-container{
    display: flex;
    gap: 0.625rem;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

/*
.main__form-input-file {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 10px 20px;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;

    position: absolute;
    left: 0%;
    top: 0%;
    transform: scale(3);
    opacity: 0;
} */

/* .main_form-input-file-container-button {
    position: relative;
     padding: 11px 16px;
    font-size: 15px;
    line-height: 1.5;
    border-radius: 3px; 
    color: #fff;
    background-color: #ffc100;
    border: 0; 
    overflow: hidden;
} */

/* .main__form-input-file-icon{
    font-size:24px ;
} */

.main__form-button-file {
    position: relative;
    /* max-width: 85%; */
    text-align: center;
    width: 72%;
    /* margin: 0 auto; */
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}

.main__form-input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.main__form-button-icon {
    /* position: absolute; */

    /* right: 0; */
}



.main__form-select-document-address {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}

.main__form-select-office {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 0.5rem 0.8rem;;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}

.main__form-select-office-worker {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}

.main__form-select-document-indication {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}

.main__form-select-document-priority {
    border: 0;
    padding: 0;
    width: 85%;
    padding: 0.5rem 0.8rem;
    font-weight: 600;
    align-self: center;
    background-color: #ccddfc;
    border-radius: 5px;
    cursor: pointer;
    border: 6px solid #ccddfc;
}


/*footer*/

.footer {
    grid-area: footer;
}

.footer-container {
    min-height: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 0.5rem;
    border: 0.2rem solid black;
}

.footer__name {
    margin: 0;
    align-self: center;
}

.footer__credits {
    margin: 0;
    align-self: center;

}

@media (min-width: 1300px) {
    .body-container {
        display: grid;
        gap: 1rem;
        min-height: 100%;
        grid-template-areas: "header"
            "main"
            "footer";
        grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
        grid-template-rows: minmax(70px, auto) 1fr minmax(70px, auto);
        /* grid-template-columns: min-content 1fr 1fr;
        grid-template-rows:60px 1fr 1fr; */
    }

     .main-container {
    width: 60%;
} 

    .main__form {
    /* flex-wrap: initial; */
    justify-content:center;
} 

    .main__form-group-select {
    width:40%;
     gap: 0.5rem; 
    flex-direction: row;
}

.main__form-group-select--document{
 width: 85%;
 justify-content: start;
}

.main__form-group-select--office{
width: 85%;
}
.main__form-label {
    font-size: 16px;
}

.main__form-group-input-text {
    width: 40%;
    flex-direction: row;
     gap: 1rem;
}

.main__form-group-input-text--page{
    width: 85%;
    display: flex;
    justify-content: start;
}

.main__form-text {
    width: 90%;
}

.main__form-text--page{
    width: 10%;
}
.main__form-group-input-text--link{
width: 85%;
}


.main__form-group-text-area {
    /* display: flex;
    justify-content: center;
    padding: 1rem; */
    width: 40%;
    flex-direction: row;
    gap: 0.5rem;
    justify-content: start;
}

.main__form-text-area {
    width: 80%;
    
}

.main__form-group-button {
    flex-direction: row;
    justify-content: start;
    width: 85%;
}


.main__form-button {
    width: 20%;
   
}

.main__form-group-input-file {
    justify-content: space-between;
    width: 90%;
    flex-direction: row;
}

.main__form-button-file{
    width:20% ;
}

.main__form-file-container{
    display: flex;
    gap: 0.625rem;
    width: 60%;
    justify-content: center;
    flex-direction: row;
}

.main__form-select-document-address {
    width: 30%;
   
}

}


@media (max-width: 720px){
    .header-nav__menu-list{
        display: none;
    }
}